/* src/reset.css */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
h1,h2,h3{
  font-family: 'Pacifico', cursive;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Nasconde lo scroll orizzontale */
}

#root {
  width: 100vw; /* Occupa tutta la larghezza della viewport */
  overflow-x: hidden; /* Nasconde lo scroll orizzontale */
}
